/* styles.css */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #32012F;
  padding: 2% 7%;
}

header a {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

/* Navbar and title section */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: #fff;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info, .contact-details, .contact-form, .social-media {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #555;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

/* Footer section */
.footer-section {
  background-color: #32012F;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 5%
}

.social-icon {
  margin: 20px 10px;
}


aside {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upcoming-events ul {
    list-style: none;
    padding: 0;
}

.upcoming-events li {
    margin-bottom: 10px;
}

.newsletter-signup form {
    display: flex;
    flex-direction: column;
}

.newsletter-signup label {
    margin-top: 10px;
}

.newsletter-signup input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-signup button {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter-signup button:hover {
    background: #555;
}

/* Footer section */
.footer-section {
  background-color: #32012F;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 5%
}

.social-icon {
  margin: 20px 10px;
}
